In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler

In [3]:
customers = pd.read_csv('Customers.csv')
products = pd.read_csv('Products.csv')
transactions = pd.read_csv('Transactions.csv')

In [5]:
customers.head()

  CustomerID        CustomerName         Region  SignupDate
0      C0001    Lawrence Carroll  South America  2022-07-10
1      C0002      Elizabeth Lutz           Asia  2022-02-13
2      C0003      Michael Rivera  South America  2024-03-07
3      C0004  Kathleen Rodriguez  South America  2022-10-09
4      C0005         Laura Weber           Asia  2022-08-15

In [6]:
products.head()

  ProductID              ProductName     Category   Price
0      P001     ActiveWear Biography        Books  169.30
1      P002    ActiveWear Smartwatch  Electronics  346.30
2      P003  ComfortLiving Biography        Books   44.12
3      P004            BookWorld Rug   Home Decor   95.69
4      P005          TechPro T-Shirt     Clothing  429.31

In [7]:
transactions.head()

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68

In [8]:
transactions = transactions.merge(customers[['CustomerID', 'Region']], on='CustomerID', how='left')
transactions = transactions.merge(products[['ProductID', 'Category']], on='ProductID', how='left')

In [9]:
customer_profile = transactions.groupby(['CustomerID', 'Category'])['TotalValue'].sum().unstack(fill_value=0)
customer_profile = customer_profile.add_suffix('_spend')

In [10]:
scaler = StandardScaler()
customer_profile_normalized = pd.DataFrame(scaler.fit_transform(customer_profile), columns=customer_profile.columns, index=customer_profile.index)

In [11]:
cosine_sim = cosine_similarity(customer_profile_normalized)
cosine_sim_df = pd.DataFrame(cosine_sim, index=customer_profile.index, columns=customer_profile.index)

In [15]:
lookalike_data = []
for cust_id, lookalikes in lookalike_map.items():
    for lookalike in lookalikes:
        lookalike_data.append([cust_id, lookalike[0], lookalike[1]])
        lookalike_df = pd.DataFrame(lookalike_data, columns=['CustomerID', 'LookalikeCustomerID', 'SimilarityScore'])
        lookalike_df.head()

In [16]:
lookalike_df.to_csv('Lookalike.csv', index=False)

In [18]:
lookalike_df.to_csv('Lookalike.csv', index_label='CustomerID')